:root {
  --color-primary: #1c1c1c;
  --color-primary-light: #e2e2e2;
  --color-accent: #862014;
  --font-primary: "Century Gothic", CenturyGothic, AppleGothic, bold, sans-serif;
  --font-secondary: "Source Code Pro", Menlo, Consolas, monospace;
}

html {
  font-family: var(--font-primary);
}
