.homepage-banner {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../images/banners/banner-photo.jpeg");
  position: relative;
}

.cocktail-banner {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../images/banners/cocktail-banner.jpeg");
  position: relative;
}

.cocktail-banner-two {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../images/banners/cocktails-banner.jpeg");
  position: relative;
}

.profile-banner {
  background-color: #1d1d1d;
}

.banner-container {
  width: 100%;
  padding: 90px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

}

  @media only screen and (min-width: 38em) {

    .banner-container,
    .banner-h1 {
      text-align: left;
    }

    .banner-button {
      text-align: left;
    }
  }
