.grey-bg-r {
  background-image: linear-gradient(#EFEDED, #EFEDED);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 75%;
  padding-top: 2em;
  padding-right: 2em;
  margin-bottom: 0;
}

.grey-bg-l {
  background-image: linear-gradient(#EFEDED, #EFEDED);
  background-position: lefts;
  background-repeat: no-repeat;
  background-size: 75%;
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 6em;
  margin-bottom: 0;
}

.card {
  color: #1d1d1d;
}

.cocktail-heading {
  font-weight: 500;
}

.img-flex {
  width: 100%;
}

h2 {
  font-weight: 500;
}

.imagetwo-title {
  font-weight: 600;
}

.cocktail-favourite {
  color: #1d1d1d;
}

.cocktail-favourite:hover {
  color: #862014;
}

.gray-box {
  background-color: var(--color-primary);
  width: 2em;
  height: 2em;
  position: relative;
  display: block;
}

.white-text {
  color: var(--color-primary-light);
}
