nav li {
  width: 100%;
  text-align: center;
}

nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}

nav li a:hover {
  outline: none;
  border-bottom: 3px solid var(--color-accent);
  padding-bottom: 3px;
  transition: .2s;
}

@media only screen and (min-width: 38em) {

  .header-nav {
    background-color: rgba(0, 0, 0, 0.0);
    padding-top: 0;
    display: inline-block;
    width: 100%;
    margin: 0;
    text-align: right;
    padding-right: 1em;
  }

  li {
    padding-top: 0;
    display: inline-block;
  }

  .skip-links {
    display: none;
  }

  .header-nav li {
    width: auto;
    margin: 0;
  }

  .top-nav-item {
    padding-top: 0;
  }

  .bottom-nav-item {
    padding-bottom: 0;
  }


}
