.header-nav-wrapper {
  text-align: center;
}

nav li {
  width: 100%;
  text-align: center;
}

nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  display: inline-block;
}

nav li a:hover {
  outline: none;
  border-bottom: 3px solid var(--color-accent);
  padding-bottom: 3px;
  transition: .2s;
}

ul.header-nav-wrapper .active {
  outline: none;
  border-bottom: 3px solid var(--color-accent);
  padding-bottom: 3px;
  color: #fff;
  transition: 0.4s;
}

.nav-grey {
  color: #1d1d1d;
}

@media only screen and (min-width: 38em) {

  .header-nav {
    background-color: rgba(0, 0, 0, 0.0);
    padding-top: 0;
    width: 100%;
    text-align: right;
  }

  .header-nav-wrapper{
    float: right;
  }

  nav li {
    text-align: right;
  }

  li {
    padding-top: 0;
    display: inline-block;
  }

  .header-nav-wrapper li {
    width: auto;
    margin: 0;
  }

  ul a {
    text-align: right;
  }

  .top-nav-item {
    padding-top: 0;
  }

  .bottom-nav-item {
    padding-bottom: 0;
  }

}
