nav li {
  width: 100%;
}

nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

nav li a:hover {
  outline: none;
  border-bottom: 3px solid var(--color-accent);
  padding-bottom: 3px;
  transition: .2s;
}

/** TOGGLE NAV **/

.i-36 {
  height: 36px;
  width: 36px;
}

nav nav-check:checked ~ .header-nav {
  display: block;
  position: absolute;
  top: 46px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100000;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
}

 .nav-check {
  position: absolute;
  top: -3em;
}

.nav-open,
.nav-close {
  display: block;
  position: absolute;
  top: .5rem;
  right: 1rem;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .header-nav {
  display: none;
}

.nav-check:checked ~ .header-nav {
  display: block;
}

label.nav-label::before {
  display: none;
}

@media only screen and (min-width: 38em) {

  .nav-check:checked ~ .header-nav {
    display: none;
  }

  .nav-open,
  .nav-close {
    display: none;
  }

  .header-nav {
    background-color: rgba(0, 0, 0, 0.0);
    padding-top: 0;
    display: inline-block;
    width: 100%;
    margin: 0;
    text-align: right;
    padding-right: 1em;
  }

  li {
    padding-top: 0;
    display: inline-block;
  }

  .skip-links {
    display: none;
  }

  .header-nav li {
    width: auto;
    margin: 0;
  }

  .top-nav-item {
    padding-top: 0;
  }

  .bottom-nav-item {
    padding-bottom: 0;
  }


}
