.grey-banner {
  background-color: #E2E2E2;
  color: #1d1d1d;
}

.footer-banner {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/flags/australia.jpeg");
  color: #fff;
  border-bottom: 10px solid #862014;
  position: relative;
  background-size: cover;
  background-position: center;
}

.footer-banner-two {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/banners/footer-banner-two.jpeg");
  color: #fff;
  border-bottom: 10px solid #862014
}

.footer-text {
  font-weight: 300;
}


.banner-containerFooter {
  width: 100%;
  padding: 100px 0;
  background-position: middle;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}


@media only screen and (min-width: 38em) {

  .mixer-type {
    text-align: left;
  }

}
